figcaption {
	font-size : 0.8em
}

td {
	vertical-align : top
}

figure {
	margin : 5%
}

.iframestuff {
	text-align: center;
    -moz-transform: scale(0.5);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.5);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.5);
    -webkit-transform-origin: 0 0;
}

.tab { text-indent:20px }

.article {
	webkit-column-count:2;
	-webkit-column-count:2;
	-moz-column-count:2; 
	column-count:2;
	page-break-before:avoid;
}

@media print {
    div.do-not-print {display: none;}
}