/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.gwt-VerticalPanel {
	background-color:#b0c4de !Important;
}

.gwt-Label {
	font-family: 'Days One', sans-serif;
	font-size: 16pt;
}

.gwt-Button {
	font-family: 'Days One', sans-serif;
	font-size: 16pt !Important;
}

.gwt-ListBox {
	font-family: 'Days One', sans-serif;
	font-size: 16pt;
}

.gwt-TextBox {
	font-family: 'Days One', sans-serif;
	font-size: 16pt !Important;
}

.test {
	font-family: 'Days One', sans-serif;
	font-size: 16pt !Important;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}
